[submodule "Common"]
	path = Common
	url = git@github.com:LearnSwiftLA/TodoList.git
	branch = common
[submodule "Server"]
	path = Server
	url = git@github.com:LearnSwiftLA/TodoList.git
	branch = server
[submodule "Client"]
	path = Client
	url = git@github.com:LearnSwiftLA/TodoList.git
	branch = client
