[submodule "Common"]
	path = Common
	url = git@github.com:LearnSwiftLA/TodoList.git
	branch = common
[submodule "Backend"]
	path = Backend
	url = git@github.com:LearnSwiftLA/TodoList.git
	branch = backend
[submodule "Client"]
	path = Client
	url = git@github.com:LearnSwiftLA/TodoList.git
	branch = client
